pip>=23.1.2
streamlit==1.25.0
streamlit_chat==0.0.2.2
streamlit_option_menu==0.3.6
openai==0.27.7
gTTS==2.3.2
bokeh==2.4.2
streamlit_bokeh_events==0.1.2
watchdog==3.0.0
setuptools~=65.5.0
graphviz==0.20.1
Pillow==9.5.0
pandas==1.5.2
scikit_learn==1.2.0
simpletransformers==0.63.9
torch==1.11.0
spacy==3.5.0
rank_bm25==0.2.2
tqdm==4.64.1
nlp==0.4.0
python-dotenv==1.0.0